
<div class="wrapper">
  <%= render 'layouts/header' %>
  <%= render 'layouts/countdown' %>
  <%= render 'layouts/location' %>
  <%= render 'layouts/about' %>
  <%= render 'layouts/speakers' %>
</div>
