<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "WDI Conf" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=PT+Sans:400,700' %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <!-- the menu  -->
    <%= render 'layouts/nav' %>

    <%= yield %>

    <%= render 'layouts/footer' %>
    <div id="scroll-button" class="animated flipOutX">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>
  </body>
</html>
